body{
  background-image: url("https://i.pinimg.com/originals/97/b9/dd/97b9dd7ce8b2063a6134b1baecc9dbbe.jpg");
  background-size: 100%;
  animation-name: lol1;
  animation-duration: 2s;
}
.head1 p{
  font-family: 'Staatliches', cursive;
  font-size:40px;
  display: flex;
  justify-content: center;
  color: white;
}
.van1{
  font-family: 'Staatliches', cursive;
  font-size:35px;
  display: flex;
align-content: flex-start;
  color: white;
  border: 4px solid #dbaa21;;
}
.img1{
  display: flex;
align-content: flex-start;
  color: white;
  border: 4px solid #dbaa21;
}
.img1 img{
  width: 700px;
  height: 500px;
}
.img1 p {
  display: flex;
  font-family: 'Staatliches', cursive;
  font-size:30px;
  justify-content: center;
  color: white;

}
.img1 button{
  font-family: 'Staatliches', cursive;
  font-size:30px;
  color: black;
display: flex;
justify-content: flex-end;
}
.foot1{
  font-family: 'Staatliches', cursive;
  font-size:20px;
display: flex;
color: white;
justify-content: flex-end;
}
.foot1:hover{
  color: #dbaa21;
}
.img1 button:hover{
color:white;
background-color:  #dbaa21;
}
.head1 p:hover{
animation-name: lol;
animation-duration: 2s;
animation-timing-function: ease-in-out;
}
@keyframes lol {
  0%{
    transform: rotate(0deg);
    color:#FF0000;
  }
  15%{
    transform: rotate(50deg);
    color:#E2571E;
  }
  30%{
    transform: rotate(100deg);
    color:#FF7F00;
  }
  50%{
    transform: rotate(180deg);
    color:#FFFF00;
  }
  75%{
    transform: rotate(220deg);
    color:#00FF00;
  }
  85%{
    transform: rotate(280deg);
    color:#96bf33;
  }
  90%{
    transform: rotate(320deg);
    color:#0000FF;
  }
  95%{
    transform: rotate(340deg);
    color: #4B0082;
  }
  100%{
    transform: rotate(360deg);
    color: #8B00FF;
  }
}
@keyframes lol1 {
  0%{
    transform: rotate(0deg);
  }
100%  {
  transform: rotate(360deg);

}
}
.img1 img:hover{
  animation-name: lol1;
  animation-duration: 2s;
animation-timing-function: ease-out;
}
.img1 p:hover{
  background-color: black;
  color:#dbaa21;
}
.van1 p:hover{
  color:black;
  background-color: #dbaa21;
}
